on:
  push:
    branches:
      - main
name: Run Release Please
jobs:
  release-please:
    name: Release Please Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.FS_STATE_APP_ID }}
          private-key: ${{ secrets.FS_STATE_PEM_FILE }}
            
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          # command: manifest
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
